<div class="map-section">
  <div class="map-container">

    <div class="map-selector">
      <select (change)="onMapSelected($event)">
        <option value="">Districts only</option>
        @for (map of riskFactorMaps(); track map.id) {
        <option [value]="map.id">{{ map.title }}</option>
        }
      </select>
    </div>

    <div id="map"></div>
    <div class="info-card">
      <p>{{ selectedDistrict | json }}</p>
      @if(selectedDistrict()) {
      <p>Type: {{selectedDistrict().ENGTYPE_2}}</p>
      <p>Region: {{selectedDistrict().NAME_1}}</p>
      <p>Name: {{selectedDistrict().NAME_2}}</p>
      <p>Risk: {{selectedDistrict().Risk_categ}}</p>
      } @else {
      <p class="card-label">Click a district</p>
      }
    </div>
    <div class="legend-card">
      @for (level of riskLevels; track level.label) {
      <div class="legend-item">
        <span class="dot" [style.background]="level.color"></span>
        <span>{{ level.label }}</span>
      </div>
      }
    </div>

  </div>
  <div class="side">
    <div class="title">
      <p>{{mapTitle() | json }}</p>
    </div>
    <div class="description">
      <p>{{mapDescription() }}</p>
    </div>
    <!--future measures-->
  </div>
</div>

<div class="evaluations-section">
  <h2>Evaluations</h2>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation1</p>
    <p class="eval-author">name1</p>
  </div>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation2</p>
    <p class="eval-author">name2</p>
  </div>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation3</p>
    <p class="eval-author">name3</p>
  </div>

</div>
