.all-page{
  padding-top:55px;
}
@media (max-width: 768px){
  app-connectednavbar,
  app-unconnectednavbar{
    display: none;
  }
}
@media (max-width: 768px){
  .all-page{
    padding-top:0px;
  }

}
