.btnOne{
  display: none;
}
.sidebar{
  display:none;
}
#check{
  display: none;
}
@media (max-width: 768px) and (orientation: portrait) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    left: -280px;
    top: 0;
    background: rgba(235, 239, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    overflow: hidden;
    transition: all 0.3s linear;
    display: block;
    z-index: 1000;
  }
  .btnOne label, .btnTwo label, .btnOne i, .btnTwo i {
    z-index: 1100;
  }
  .logo-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  .logo {
    background-image: url("/assets/icons/logoGeoHealth.png");
    width:80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .logo-text {
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
  .sidebar .menu {
    position: absolute;
    top:  150px;
    width: 100%;
  }
  .sidebar .menu li {
    margin-top: 6px;
    padding:20px 15px;
  }

  .sidebar .menu i {
    color: black;
    font-size: 20px;
    padding-right: 8px;
  }
  .sidebar .menu a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  .sidebar .menu li:hover {
    background-color: #90ee90;
  }
  #check {
    display: none;
  }
  .btnOne{
    display: block;
  }
  .btnOne label{
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
  }
  .btnTwo label{
    position: absolute;
    top: 5px;
    left: 16px;
    cursor: pointer;
  }
  .btnOne i {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 1;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
  }
  .btnTwo i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .btnOne i:hover {
    font-size: 29px;
  }
  .btnTwo i:hover {
    font-size: 24px;
  }
  #check:checked~.sidebar {
    left: 0;
  }
  #check:checked ~ .btnOne {
    pointer-events: none;
  }
  #check:checked~.btnOne i {
    opacity: 0;
  }
  #check:checked~.sidebar .btnTwo i {
    opacity: 1;
  }
}
