<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<input type="checkbox" id="check" [checked]="isOpen" (change)="isOpen = !isOpen">
<div class="btnOne">
  <label for="check">
    <img src="assets/icons/logoGeoHealth.png">
  </label>
</div>
<label class="exit-button" for="check"></label>
<div class="sidebar">
  <div class="logo-container">
    <div class="logo"></div>
    <a class="logo-text">GeoHealth</a>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a (click)="goToHome()">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a (click)="goToLogin()">
          <i class="fas fa-right-to-bracket"></i>
          Login
        </a>
      </li>
      <li>
        <a (click)="goToRegister()">
          <i class="fas fa-user-plus"></i>
          Register
        </a>
      </li>

    </ul>
  </div>
</div>

