<div class="container">
  <div class="select" [class.open]="isOpen">

    <div class="selected-option" (click)="isOpen = !isOpen">
      <img [src]="selectedLang === 'fr' ? 'assets/icons/frFlag.webp' : 'assets/icons/enFlag.webp'" class="flag">
      <span>{{ selectedLang.toUpperCase() }}</span>
      <i class="chevron"></i>
    </div>

    @if (isOpen) {
      <div class="dropdown">
        @for (lang of langs; track lang.code) {
          @if (lang.code !== selectedLang) {
            <div class="option" (click)="select(lang.code)">
              <img [src]="lang.flag" class="flag">
              <span>{{ lang.code.toUpperCase() }}</span>
            </div>
          }
        }
      </div>
    }

  </div>
</div>
