<div class="container">
<div class="select" tabindex="10000">
  <input class="lang" (click)="switchLang('fr')" name="test" type="radio" id="opt1" checked [checked]="selectedLang === 'fr'">
  <label for="opt1" class="option"> <img src="assets/icons/frFlag.png" class="flag"></label>
  <input class="lang" (click)="switchLang('en')" name="test" type="radio" id="opt2" [checked]="selectedLang === 'en'">
  <label for="opt2" class="option"> <img src="assets/icons/enFlag.png" class="flag"></label>
</div>
</div>
