<div class="pop-up">

  <h2 class="popup-title" >
    Configure your new map to add
  </h2>

  <form [formGroup]="formGroup" (ngSubmit)="Upload()">

    <app-inputbox
      [type]="'text'"
      [placeholder]="'My title'"
      formControlName="title"
      [label]="'Title'">
    </app-inputbox>
    @if(isFieldValid("title")){
      <div class="error">
        The minimum length of the title is incorrect
      </div>
    }

    <app-inputbox
      [type]="'text'"
      [placeholder]="'About the map …'"
      formControlName="description"
      [label]="'Description'">
    </app-inputbox>
    @if(isFieldValid("description")){
      <div class="error">
        The minimum length of the description is incorrect
      </div>
    }

    <label>Zip file of Shape file here</label>
    <input type="file"
           class="file-input"
           formControlName="file"
           (change)="onFileSelected($event)"
           #fileUpload>


    <div class="file-upload">
      <button type="button"
              class="upload-btn"
              (click)="fileUpload.click()"> Upload
      </button>
      <span>
      {{selectedFile?.name || 'No file uploaded yet'}}
      </span>
    </div>


    @if(isFieldValid("file")){
      <div class="error">
        The file is incorrect
      </div>
    }

    <button type="submit" [disabled]="formGroup.invalid || isUploading">
      Create the new map
    </button>

  </form>


</div>
