<div class="update-password-page">
  <img class="image" src="/assets/background/changePasswordBackground.png">
</div>

<div class="update-password">
  <div class="title-container">
    <h1 class="update-password-title"> Update password </h1>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordInfo()">


  <div class="form-field">
    <input
      type="password"
      id="oldPassword"
      placeholder="Old password"
      formControlName="oldPassword"
    />
  </div>

  <div class="form-field">
    <input
      type="password"
      id="newPassword"
      placeholder="New password"
      formControlName="newPassword"
    />
  </div>
    @if(isFieldValid("newPassword")){
      <div class="error">
        The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }

    <div class="form-field">
      <input
        type="password"
        id="confirmNewPassword"
        placeholder="Confirm new password"
        formControlName="confirmNewPassword"
      />
    </div>
    @if(isFieldValid("confirmNewPassword")){
      <div class="error">
        The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }

    <div class="password-button-container">
      <button type="submit" class="update-password-button">Change</button>
    </div>
  </form>

  @if(messageSuccess){
    <div class="alert alert-success">
      {{messageSuccess }}
    </div>
  }
  @if(messageError){
    <div class="alert alert-danger">
      {{messageError }}
    </div>
  }
</div>
