<div class="changePasswordPage">
<form [formGroup]="passwordForm" (ngSubmit)="submitPasswordInfo()">

  <div class="form_field">
    <input
      [type]="passwordShowing.oldPassword ? 'text' : 'password'"
      id="oldPassword"
      placeholder="Old password"
      formControlName="oldPassword"
    />

    <button
      type="button"
      class="eye-button"
      (click)="togglePasswordShowing('oldPassword')"
    >
      <img
        [src]="passwordShowing.oldPassword
      ? 'assets/icons/eye.png'
      : 'assets/icons/eye-off.png'"
        alt="Afficher / masquer le mot de passe"
      />
    </button>

  </div>

  <div class="form_field">
    <input
      [type]="passwordShowing.newPassword ? 'text' : 'password'"
      id="newPassword"
      placeholder="New password"
      formControlName="newPassword"
    />
    <button
      type="button"
      class="eye-button"
      (click)="togglePasswordShowing('newPassword')"
    >
      <img
        [src]="passwordShowing.newPassword
      ? 'assets/icons/eye.png'
      : 'assets/icons/eye-off.png'"
        alt="Afficher / masquer le mot de passe"
      />
    </button>
  </div>
  @if(isFieldValid("newPassword")){
    <div class="error">
      The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
    </div>
  }

  <div class="form_field">
    <input
      [type]="passwordShowing.confirmNewPassword? 'text' : 'password'"
      id="confirmNewPassword"
      placeholder="Confirm new password"
      formControlName="confirmNewPassword"
    />
    <button
      type="button"
      class="eye-button"
      (click)="togglePasswordShowing('confirmNewPassword')"
    >
      <img
        [src]="passwordShowing.confirmNewPassword
      ? 'assets/icons/eye.png'
      : 'assets/icons/eye-off.png'"
        alt="Afficher / masquer le mot de passe"
      />
    </button>
  </div>
  @if(isFieldValid("confirmNewPassword")){
    <div class="error">
      The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
    </div>
  }

  <button class="btn" type="submit" [disabled]="passwordForm.invalid || !checkPasswordConformity()" >
    Register
  </button>

</form>
</div>
