.update-password{
  position: absolute;
  width: 35%;
  background: transparent;
  color: #ffffff;
  border-radius: 10px;
  top: 23%;
  left: 56.5%;
}

.image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-password-title{
  color: black;
  text-transform: uppercase;

}

.form-field{
  width: 100%;
  height: 50px;
  background: white;
  margin: 50px 0;
  border: solid 2px black;
  font-size: 1rem;
}


.form-field input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px ;
}

.form-field input::placeholder{
  color: #3a3838;
}


.update-password-button{
  width: 30%;
  height: 45px;
  background: white;
  border: solid 2px black;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow .2s ease ;
  float: right;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.update-password-button:hover{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: scale(1.01);

}
.update-password-button:active{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transform: scale(.99);
}

