<div class="map-section">
  <div class="map-container">

    <!--
    The division or risk factor map to select
    -->
    <div class="map-selector">

      <!--  search bar -->
      <div class="search-wrapper">
        <input
          type="text"
          list="risk-factor-list"
          placeholder="Look for a risk factor…"
          (change)="onMapSelected($event)"
          (keydown.enter)="onMapSelected($event)"
        />
        <span class="dropdown-arrow">▼</span>

      </div>

      <!--  dropdown -->
      <datalist id="risk-factor-list">
        <option value="Division only">Division only</option>

        @for (map of riskFactorMaps(); track map.id) {
          <option [value]="map.title">{{map.id}} - {{ map.title }} </option>
        }
      </datalist>
    </div>

    <div id="map"></div>

    <!--
    Little square on the left of the map which display :
      - Click a Division : if a division is not selected
      - All information about a division  : otherwise
    -->
    <div class="info-card">
      @if(selectedDivision()) {
        <p>Type: {{selectedDivision().ENGTYPE_2}}</p>
        <p>Region: {{selectedDivision().NAME_1}}</p>
        <p>Name: {{selectedDivision().NAME_2}}</p>
        <p class="risk-row">
          Risk:
          <span class="dot" [style.background]="getRiskColor(selectedDivision().Risk_categ)"></span>
          {{selectedDivision().Risk_categ}}
        </p>
      } @else {
        <p class="card-label">Click a Division</p>
      }
    </div>

    <map-legend [riskLevels]="riskLevels"/>

    <!--
      All information about the map on the right of the page
    -->
  </div>
  <div class="side">
    <div class="title">
      <p>{{mapTitle()}}</p>
    </div>
    <div class="description">
      <p>{{mapDescription() }}</p>
    </div>
    @if(selectedDivision()) {
    <div class="metrics">
      <div class="metrics-header">Metrics</div>
      <div class="metrics-body">
        <p>Weighted Entropy <app-tooltip-description description="description of weighted entropy" /></p>
        <strong>{{ weightedEntropy() !== -1 ? weightedEntropy() : '/' }}</strong>

        <p>Global Consensus Index <app-tooltip-description description="description of weighted global concensus" /></p>
        <strong>{{ globalConsensusIndex() !== -1 ? globalConsensusIndex() : '/' }}</strong>

        <p>Krippendorff's Alpha <app-tooltip-description description="description of Krippendorff alpha" /></p>
        <strong>{{ krippendorff() !== null ? krippendorff() : '/' }}</strong>
      </div>
    </div>
    }


    <!--
    TODO
    -->
    <div class="side-footer">
      @if(selectedDivision() && !showEvaluationModal()){
      <app-button
        [text]="existingForm() ? 'Edit Evaluation' : 'Add Evaluation'"
        [variant]="'success'"
        (click)="onOpenEvaluation()">
      </app-button>
      }
      @if(existingForm()) {
      <app-button
        [text]="'Delete Evaluation'"
        [variant]="'danger'"
        (click)="onDeleteEvaluation()">
      </app-button>
      }
    </div>

  </div>
</div>


<!--
    TODO
    -->
@if(showEvaluationModal()) {
<app-evaluation-modal
  [division]="selectedDivision()"
  [mapId]="mapId"
  [existingForm]="existingForm()"
  (close)="onCloseEvaluation()">
</app-evaluation-modal>
}

<!--
    TODO
    -->
<div class="evaluation-section">
  <h2>Evaluations</h2>
  <div class="evaluation-list">
  @if(isAdmin){
    @for(form of allEvaluationFormsAdmin(); track form){
      @if(form.division==selectedDivision().NAME_2 && form.isPublic){
        <app-evaluation-comment
          [username]= "form.username"
          [firstName]="form.firstName"
          [lastName]="form.lastName"
          [division]="form.division"
          [agreementLevel]="form.agreementLevel"
          [perceivedRisk]="form.perceivedRisk"
          [certaintyLevel]="form.certaintyLevel"
          [comment]="form.comment">
        </app-evaluation-comment>
      }
    }
  }
  @else {
    @for(form of allEvaluationFormsUser(); track form){
      @if(form.division==selectedDivision().NAME_2 && form.isPublic){
        <app-evaluation-comment
          [username]= "form.username"
          [division]="form.division"
          [agreementLevel]="form.agreementLevel"
          [perceivedRisk]="form.perceivedRisk"
          [certaintyLevel]="form.certaintyLevel"
          [comment]="form.comment">
        </app-evaluation-comment>
      }
    }
  }
  </div>
</div>
