<div class="map-section">
  <div class="map-container">

    <div class="map-selector">
      <select (change)="onMapSelected($event)">
        <option value="">Departments only</option>
        @for (map of riskFactorMaps(); track map.id) {
        <option [value]="map.id">{{ map.title }}</option>
        }
      </select>
    </div>

    <div id="map"></div>
    <!-- info-card -->
    <div class="info-card">
      <p>{{ selectedDepartment | json }}</p>
      @if(selectedDepartment()) {
      <p>Type: {{selectedDepartment().ENGTYPE_2}}</p>
      <p>Region: {{selectedDepartment().NAME_1}}</p>
      <p>Name: {{selectedDepartment().NAME_2}}</p>
      <p>Risk: {{selectedDepartment().Risk_categ}}</p>
      } @else {
      <p class="card-label">Click a Department</p>
      }
    </div>

    <!-- map legend -->
    <map-legend [riskLevels]="riskLevels"/>

  </div>
  <div class="side">
    <div class="title">
      <p>{{mapTitle() | json }}</p>
    </div>
    <div class="description">
      <p>{{mapDescription() }}</p>
    </div>
    <!--future measures-->
  </div>
</div>

<div class="evaluations-section">

  <div class="button-evaluation">
    @if(selectedDepartment()){
    <app-button
      [text]="'Add Evaluation'"
      [variant]="'success'"
      (click)="onOpenEvaluation()">
    </app-button>
    }
  </div>

  <h2>Evaluations</h2>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation1</p>
    <p class="eval-author">name1</p>
  </div>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation2</p>
    <p class="eval-author">name2</p>
  </div>

  <div class="evaluation-item">
    <p class="eval-title">Evaluation3</p>
    <p class="eval-author">name3</p>
  </div>

</div>

@if(showEvaluationModal()) {
<app-evaluation-modal
  [department]="selectedDepartment()"
  (close)="onCloseEvaluation()">
</app-evaluation-modal>
}
