<div class="update-password-page">

<div class="update-password">
  <div class="title-container">
    <h1 class="update-password-title">{{ 'password.title' | transloco }}</h1>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordInfo()">

    <app-inputbox
      [type]="'password'"
      [placeholder]="'password.input-oldpassword' | transloco"
      formControlName="oldPassword"
      [label]="'password.label-oldpassword' | transloco" >
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'password.input-newpassword' | transloco"
      formControlName="newPassword"
      [label]="'password.label-newpassword' | transloco"
      [message]="'password.message-newpassword' | transloco"
      [showError]="passwordLength('newPassword')">
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'password.input-confirmpassword' | transloco"
      formControlName="confirmNewPassword"
      [label]="'password.label-confirmpassword' | transloco"
      [message]="'password.message-confirmpassword' | transloco"
      [showError]="passwordsMatch()">
    </app-inputbox>

    <app-button
      [text]="'password.button-applychange' | transloco"
     variant="success">
    </app-button>
  </form>

  @if(messageSuccess){
    <div class="alert alert-success">
      {{messageSuccess }}
    </div>
  }
  @if(messageError){
    <div class="alert alert-danger">
      {{messageError }}
    </div>
  }
</div>
</div>
