<div class="update-password-page">

<div class="update-password">
  <div class="title-container">
    <h1 class="update-password-title"> Update password </h1>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordInfo()">

    <app-inputbox
      [type]="'password'"
      [placeholder]="'Your old password'"
      formControlName="oldPassword"
      [label]="'Old Password'" >
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'Your new password'"
      formControlName="newPassword"
      [label]="'New Password'" >
    </app-inputbox>
    @if(isFieldValid("newPassword")){
      <div class="error">
        The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }

    <app-inputbox
      [type]="'password'"
      [placeholder]="'Your new password again'"
      formControlName="confirmNewPassword"
      [label]="'Confirm New Password'" >
    </app-inputbox>
    @if(isFieldValid("confirmNewPassword")){
      <div class="error">
        The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }

    <app-button
      [text]="'Apply Change'"
     variant="success">
    </app-button>
  </form>

  @if(messageSuccess){
    <div class="alert alert-success">
      {{messageSuccess }}
    </div>
  }
  @if(messageError){
    <div class="alert alert-danger">
      {{messageError }}
    </div>
  }
</div>
</div>
