.update-password-page{
  min-height: 100vh;
  background-image: url('/assets/background/changePasswordBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12%;
}

.update-password{
  width: 35%;
  background: transparent;
  color: #ffffff;
  border-radius: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-password-title{
  color: black;
  text-transform: uppercase;

}

.alert {
  margin-top: 200px;
}



/* phone portrait */
@media (max-width: 768px) and (orientation: portrait){
  .update-password-page{
    background-image: url("/assets/background/changePasswordPhoneBackground.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-top:  25vh;
  }

  .update-password-title{
    position: relative;
    top: 1.5rem;
  }

  .update-password{
    width: 70%;
  }

}

/* Tablet portrait */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

  .update-password-page{
    background-image: url("/assets/background/changePasswordTabletBackground.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-top:  30vh;
  }
  .update-password{
    width: 75%;
  }
  app-inputbox{
    display: block;
    margin-bottom: 3rem;
  }


}


