.image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.login{
  position: absolute;
  width: 40%;
  background: transparent;
  color: #ffffff;
  border-radius: 10px;
  top: 23%;
  left: 5%
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 1rem;
  color: black;
}


.login-message {
  color: black;
  font-weight: lighter;
}

.form-field{
  width: 100%;
  height: 50px;
  background: transparent;
  margin: 30px 0;
  border-radius: 12px;
  border: solid 2px #90ee90;
  font-size: 1rem;
}

.form-field input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px ;
}
.form-field input::placeholder{
  color: #3a3838;
}

.forgot-password{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: black;
}
.forgot-password label input {
  accent-color: darkblue;
  margin-right: 3px;
}
.forgot-password a{
  color: darkblue;
  text-decoration: none;
}
.forgot-password a:hover{
  text-decoration: underline;
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button{
  width: 30%;
  height: 45px;
  background: #90ee90;
  border: solid 2px #7ee87e;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow .2s ease ;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.login-button:hover{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: scale(1.01);
}
.login-button:active{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transform: scale(.99);
}
.register-link{
  font-size:14.5px;
  text-align: center;
  margin-top: 20px;
}
.register-link p a{
  color: darkblue;
  text-decoration: none;
}
.register-link p {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

.register-link a {
  cursor: pointer;
  font-weight: 500;
}

.registerlink p a:hover{
  text-decoration: underline;
}


.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: 500;
}
