<div class="loginPage">
  <img class="image" src="/assets/loginPagePlanet.png">
</div>

<div class="login">
  <h1 class="loginTitle"> Login </h1>

<form action="" method="post" class="form">

  <div class="form_field">
    <input type="email" placeholder="info@mailaddress.com">
  </div>

  <div class="form_field">
    <input type="password" placeholder="••••••••••••">
  </div>

  <div class="forgotPassword">
    <label><input type="checkbox">Remember me</label>
    <a href="#">Forgot password ?</a>
  </div>

  <button type="submit" class="btn">Login</button>

  <div class="registerlink">
    <p>Don't have an account ?  <a href="#"> Register </a></p>
  </div>

</form>
</div>

