<div class="loginPage">
  <img class="image" src="/assets/background/loginBackgroundPlanet.png">
</div>

<div class="login">
  <h1 class="loginTitle"> Login </h1>

  <form [formGroup]="formGroup" (ngSubmit)="login()">

    <div class="form_field">
      <input formControlName="username" type="username" placeholder="Username">
    </div>

    <div class="form_field">
      <input formControlName="password" type="password" placeholder="••••••••••••">
    </div>

    <div class="forgotPassword">
      <label><input type="checkbox">Remember me</label>
      <a href="#">Forgot password ?</a>
    </div>

    <button type="submit" class="btn">Login</button>

    <div class="registerlink">
      <p>Don't have an account ?  <a (click)="goToRegister()">Register</a></p>
    </div>



  </form>
</div>
