.image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.login{
  position: absolute;
  width: 40%;
  background: transparent;
  color: #ffffff;
  border-radius: 10px;
  top: 23%;
  left: 5%
}

.loginTitle{
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
  color: black;
}
.form_field{
  width: 100%;
  height: 50px;
  background: transparent;
  margin: 30px 0;
  border-radius: 12px;
  border: 2px solid #90ee90;
  font-size: 1rem;
}

.form_field input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px ;
}
.form_field input::placeholder{
  color: #3a3838;
}

.forgotPassword{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: black;
}
.forgotPassword label input {
  accent-color: darkblue;
  margin-right: 3px;
}
.forgotPassword a{
  color: darkblue;
  text-decoration: none;
}
.forgotPassword a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #90ee90;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover{
  background: darkgreen;
}
.registerlink{
  font-size:14.5px;
  text-align: center;
  margin-top: 20px;
}
.registerlink p a{
  color: darkblue;
  text-decoration: none;
}
.registerlink p {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.registerlink p a:hover{
  text-decoration: underline;
}
