.homepage {
  background: linear-gradient(to bottom left, #EBEFFF, white, white);
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  padding-top: 10px;
}
.txt {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  text-wrap: wrap;
  width: 50%;
}
.head span {
  position: relative;
  font-size: 50px;
  color: black;
  margin: 0;
  line-height: 1.2;
  z-index: 1;
  font-weight: 500;
}
.head {
  position: relative;
  margin-bottom: 20px;
}
.txt p {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 24px;
}
.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  height: 100px;
  margin-top: -20px;
}
.brands a{
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.label {
  color: black;
}
.label :nth-child(2) {
  color: black;
  font-weight: bold;
}
.label :nth-child(1) {
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
}
#txt1 {
  position: absolute;
  transform: rotate(180deg) translateX(30px) translateY(10px);
  width: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
}
#txt2 {
  position: absolute;
  width: 70px;
  right: 0;
  bottom: 0;
  transform: translateX(60px) translateY(30px);
}
.flex {
  width: 100%;
  display: flex;
  height: 600px;
  gap: 10px;
}
.flex1{
  margin-top:30px;
}
.img-hand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-work img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: float 3s ease-in-out infinite 0.3s;
}
.brands li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}
.brands i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}
.brands a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #90ee90, #1691fd);
  transition: all 265ms ease-out;
}

.brands a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.brands a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #90ee90;
  background: linear-gradient(45deg, #90ee90, #1691fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.work {
  margin-top: 100px;
  height: 450px;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.cc1 {
  background-color: #cdebf8;
}
.cc2 {
  background-color: #f5ecb5;
}
.cc3 {
  background-color: #e1d6fa;
}
.cc4 {
  background-color: #f8e2e2;
}
.c1 {
  text-align: center;
  padding: 20px;
  height: 300px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.c1 img {
  height: 50px;
}
.arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
}
.label1,
.label2 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
}
.img-hand {
  width: 50%;
  animation: float 3s ease-in-out infinite 0.3s;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #EBEFFF;
}
.namur-footer img{
  width: 50px;
  height: 50px;
}
.namur-footer{
  display: flex;
  align-items: center;
  gap: 10px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* phone portrait */
@media (max-width: 768px) and (orientation: portrait){
  .homepage {
    flex-direction: column;
  }
  .brands {
    flex-wrap: nowrap;
    padding-top: 8rem;
  }
  .cards {
    flex-direction: column;
  }
  .work {
    height: auto;
  }
  .head span {
    font-size:40px;
    font-weight: 100;
  }
  .txt{
    width: 100%;
  }
  .img-hand{
    display: none;
  }
  .img-work{
    display: none;
  }

}
