<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<div class="homepage">
  <div class="flex">
    <div class="txt" data-aos="slide-up">
      <div class="head">
        <div class="text-animate">
          <span><span id="txt1"></span>{{ 'home.first-title' | transloco }}<br></span>
          <span>{{ 'home.second-title' | transloco }}<br><img src="/assets/icons/map.webp" alt="" id="txt2"></span>
        </div>
      </div>
      <p>{{ 'home.summary' | transloco }}</p>
      <div class="buttons">
        <app-button
          [text]="'home.button-register' | transloco"
          variant="success"
          (click)="goToRegister()">
        </app-button>
      </div>
        <ul class="brands">
          <li> <a>
            <span class="label">{{ 'home.mobile-text' | transloco }}</span>
            <i class="fa-solid fa-mobile-screen"></i>
          </a></li>
          <li> <a>
            <span class="label">{{ 'home.tablet-text' | transloco }}</span>
            <i class="fa-solid fa-tablet-screen-button"></i>
          </a></li>
          <li> <a>
            <span class="label">{{ 'home.desktop-text' | transloco }}</span>
            <i class="fa-solid fa-computer"></i>
          </a></li>
        </ul>
    </div>
      <div class="img-hand"><img src="/assets/background/handHomePage.webp" data-aos="zoom-in"></div>
  </div>

  <div class="work" data-aos="slide-up">
    <h1>{{ 'home.third-title' | transloco }}</h1>
    <div class="cards">
      <div class="c1 cc1" data-aos="fade-up" data-aos-delay="450">
        <img src="/assets/icons/minimap.webp">
        <h4>{{ 'home.first-subtitle' | transloco }}</h4>
        <p>{{ 'home.text1' | transloco }}</p>
      </div>
      <div class="c1 cc2" data-aos="fade-up" data-aos-delay="300">
        <img src="/assets/icons/validation.webp">
        <h4>{{ 'home.second-subtitle' | transloco }}</h4>
        <p>{{ 'home.text2' | transloco }}</p>
      </div>
      <div class="c1 cc3" data-aos="fade-up" data-aos-delay="150">
        <img src="/assets/icons/sync.webp">
        <h4>{{ 'home.third-subtitle' | transloco }}</h4>
        <p>{{ 'home.text3' | transloco }}</p>
      </div>
      <div class="c1 cc4" data-aos="fade-up" data-aos-delay="0">
        <img src="/assets/icons/rapport.webp">
        <h4>{{ 'home.fourth-subtitle' | transloco }}</h4>
        <p>{{ 'home.text4' | transloco }}</p>
      </div>
    </div>
  </div>
</div>
<div class="p2">
  <div class="flex">
    <div class="img-work"><img src="/assets/background/workingUserHome.webp" data-aos="zoom-in" alt=""></div>
    <div class="txt" data-aos="slide-up">
      <div class="head">
        <div class="subhead">
          <span>{{ 'home.fourth-title' | transloco }}</span>
        </div>
      </div>
      <p>{{ 'home.problem' | transloco }}</p>
      <div class="arrow">
        <div class="label1">
          <div><span>🌍</span><span>{{ 'home.bullet1' | transloco }}</span></div>
          <div><span>🌍</span><span>{{ 'home.bullet2' | transloco }}</span></div>
        </div>
        <div class="label2">
          <div><span>🌍</span><span>{{ 'home.bullet3' | transloco }}</span></div>
          <div><span>🌍</span><span>{{ 'home.bullet4' | transloco }}</span></div>
        </div>
      </div>
      <div class="buttons">
        <app-button
          [text]="'home.learn-button' | transloco"
          variant="success"
          (click)="goToAbout()">
        </app-button>
      </div>

    </div>
  </div>
  <!-- Footer -->
  <footer class="footer" data-aos="fade-up">
    <div class="namur-footer">
      <img src="/assets/icons/logoUnamur.webp" alt="Logo UNamur">
      <span>{{ 'home.namur' | transloco }}</span>
    </div>
  </footer>
</div>

