<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<div class="navigation-page">

<input type="checkbox" name="" id="check-nav">
<div class ="side-navbar">
  <div class="scrollbox">
    <div class="scrollbox-inner">
      <div class="navigation-button-container">
        <app-button
          [text]="'Add a new map'"
          variant="success"
          (clicked) ="openPopUp('addMap')">
        </app-button>
        <app-button
          [text]="'Add a new risk factor'"
          variant="success"
          (clicked) = "openPopUp('addRiskFactor')">
        </app-button>

      </div>
      <label for="check-nav">
        <span class ="fas fa-times" id="times"> </span>
        <span class ="fas fa-bars" id="bars"> </span>
      </label>
          <div class ="filter-title">
            <div class="text">Diseases</div>
          </div>
          <ol>
            <app-checkbox
              [id]="'Ebola'"
              [label]="'Ebola'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Covid'"
              [label]="'Covid'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
          </ol>
          <div class ="filter-title">
            <div class="text">Annotations</div>
          </div>
          <ol>
            <app-checkbox
              [id]="'Annotated'"
              [label]="'Annotated'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Unannotated'"
              [label]="'Unannotated'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
          </ol>
          <div class ="filter-title">
            <div class="text">Risk factors</div>
          </div>
          <ol>
            <app-checkbox
              [id]="'Cattle'"
              [label]="'Cattle'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Rivers'"
              [label]="'Rivers'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
            <app-checkbox
              [id]="'Other'"
              [label]="'Other'"
              [name]="'souscription'">
            </app-checkbox>
          </ol>
    </div>
  </div>
</div>

  <div class="all-maps">
     <div class="recent-maps">
       <div class="rounded-card">
         <h3 class="title">Risk maps</h3>
       </div>
       <div class="all-the-maps">
         @for (map of listOfAllRecentMaps; track map.id){
           <div class="new-case" (click)="goToMap(map.id)">
             <h4 style="text-align: center">{{map.title}}</h4>
             <h6 style="text-align: center">{{map.description}}</h6>
           </div>
         }
       </div>
     </div>


      <!-- ------------------------ -->
      <!-- Lines about all the maps -->
      <!-- ------------------------ -->
    <div class="all-available-maps">
      <div class="rounded-card">
        <h3 class="title">Annotated maps</h3>
      </div>
      <div class="all-the-maps">
        @for (map of listOfAllMaps; track map.id){
          <div class="new-case" (click)="goToMap(map.id)">
            <h4 style="text-align: center">{{map.title}}</h4>
            <h6 style="text-align: center">{{map.description}}</h6>
          </div>
        }
      </div>
    </div>

  </div>
</div>


