<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="navigation-page">

  <!-- ================= SIDEBAR ================= -->
  <aside class="sidebar">

    <div class="scrollbox">

      <!-- ACTION BUTTONS -->
      <div class="search-bar-section">
        <div class="research-section-title-container">
          <img class="research-icon" src="assets/icons/research-icon.svg" alt="">
          <h4 class="research-section-title">
            {{ 'navigation.research-section-title' | transloco }}
          </h4>
        </div>

        <div class="search-bar-container">

          <div class="search-bar">
            <svg class="search-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 24 24">
              <path d="M18 10c0-4.41-3.59-8-8-8s-8 3.59-8 8 3.59 8 8 8c1.85 0 3.54-.63 4.9-1.69l5.1 5.1L21.41 20l-5.1-5.1A8 8 0 0 0 18 10M4 10c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6"/>
            </svg>

            <input
              id="map-search"
              name="map-search"
              type="search"
              class="search-field"
              placeholder="{{ 'navigation.search-placeholder' | transloco }}"
              autocomplete="off"
              [(ngModel)]="searchText"
              (input)="searchMaps()"
            />
          </div>

          <p class="search-hint">* {{ 'navigation.search-hint' | transloco}}</p>

        </div>
      </div>

      <div class="season-section">
        <h4 class="season-section-title">{{ 'navigation.season-section-title' | transloco }}</h4>
        <div class="seasons-checkbox-container">
          <label class="season-checkbox" id="dry-season" for="dry">
            <input type="checkbox" id="dry" name="dry" />
            {{ 'navigation.dry-season-checkbox' | transloco}}
          </label>

          <label class="season-checkbox" id="wet-season" for="wet">
            <input type="checkbox" id="wet" name="wet" />
            {{ 'navigation.wet-season-checkbox' | transloco}}
          </label>
        </div>
      </div>


      <div class="navigation-button-container">
        @if(isAdmin){
          <button
            class="new-map-button"
            id="final-risk"
            (click)="openPopUp('addMap')">
            {{ 'navigation.final-risk' | transloco }}
            <i class="fas fa-plus" id="plus-icon"></i>
          </button>

          <button
            class="new-map-button"
            id="risk-factor"
            (click)="openPopUp('addRiskFactor')">
            {{ 'navigation.risk-factor' | transloco }}
            <i class="fas fa-plus" id="plus-icon2"></i>
          </button>
        }
      </div>

    </div>

  </aside>


  <!-- ================= MAIN CONTENT ================= -->
  <main class="all-maps">

    <!-- FINAL MAPS -->
    @if (!isSearching) {

      <section class="final-risk-maps">

          <div class="nav-section-title-container">
            <h3
              class="nav-section-title"
              (click)="toggleDropdown('finalRisks')">
              {{ 'navigation.final-map' | transloco }}
            </h3>

            <svg
              (click)="toggleDropdown('finalRisks')"
              class="dropdown-arrow"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24">

              @if (finalRisksOpen) {
                <path d="m12 15.41 5.71-5.7-1.42-1.42-4.29 4.3-4.29-4.3-1.42 1.42z"/>
              } @else {
                <path d="m7.71 15.71 4.29-4.3 4.29 4.3 1.42-1.42L12 8.59l-5.71 5.7z"/>
              }

            </svg>
          </div>

        <div class="dropdown-content" [class.open]="finalRisksOpen">

          <div class="all-the-maps">

            @for (map of listOfAllMaps; track map.id){

              <div class="map-card">

                <app-map-preview
                  [mapId]="map.id"
                  (click)="goToMap(map.id)">
                </app-map-preview>

                <div class="preview-meta-data">
                  <h4 class="map-title">{{map.title}}</h4>
                  <h6 class="map-description">{{map.description}}</h6>

                  @if(isAdmin){
                    <button
                      class="delete-map-button"
                      [id]="map.id"
                      title="Delete this map?"
                      (click)="deleteFinalMap(map.id)">
                      <svg class="trash-icon" width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 8V15M7 8V15M3 4V15.8C3 16.9201 3 17.4798 3.21799 17.9076C3.40973 18.2839 3.71547 18.5905 4.0918 18.7822C4.5192 19 5.07899 19 6.19691 19H11.8031C12.921 19 13.48 19 13.9074 18.7822C14.2837 18.5905 14.5905 18.2839 14.7822 17.9076C15 17.4802 15 16.921 15 15.8031V4M3 4H5M3 4H1M5 4H13M5 4C5 3.06812 5 2.60241 5.15224 2.23486C5.35523 1.74481 5.74432 1.35523 6.23438 1.15224C6.60192 1 7.06812 1 8 1H10C10.9319 1 11.3978 1 11.7654 1.15224C12.2554 1.35523 12.6447 1.74481 12.8477 2.23486C12.9999 2.6024 13 3.06812 13 4M13 4H15M15 4H17" stroke="#868B93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  }
                </div>

              </div>
            }

          </div>

        </div>

      </section>
    }


    <!-- SEARCH RESULTS -->
    @if (isSearching && !noResults) {

      <section class="all-available-maps">

        <h3 class="nav-section-title">
          {{ 'navigation.search-results' | transloco }}
        </h3>

        <div class="all-the-maps">

          @for (map of filteredMaps; track map.id) {
            <div class="map-card" (click)="goToMap(map.id)">

              <app-map-preview [mapId]="map.id"></app-map-preview>

              <div class="preview-meta-data">
                <h4 class="map-title">{{ map.title }}</h4>
                <h6 class="map-description">{{ map.description }}</h6>
              </div>

            </div>
          }

        </div>

      </section>
    }


    <!-- NO RESULTS -->
    @if (noResults) {

      <section class="no-results">
        <i class="fas fa-search"></i>
        <h3>{{ 'navigation.nomap' | transloco }}</h3>
        <p>{{ 'navigation.try-another' | transloco }}</p>

        <button
          class="clear-search-button"
          (click)="clearSearch()">
          {{ 'navigation.backto' | transloco }}
        </button>
      </section>

    }

  </main>


  <!-- MOBILE ADMIN BUTTON -->
  @if(isAdmin){
    <button class="arrow" (click)="openMenu()"></button>
  }

</div>
