.navigation-page{
  /*
  background-color: #EBEFFF;
  */
}
/* SIDEBAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation-page {
  display: flex;
}
.side-navbar {
  height: 92%;
  width: 250px;
  position: fixed;
  left: -250px;
  bottom:0;
  background: linear-gradient(10deg, #ffffff, #EBEFFF);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: left 0.5s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.side-navbar .head{
  color: #fdfdce;
  font-size: 30px;
  font-weight: bold;
  padding : 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  background-color: #90ee90;
  display: flex;
  flex-direction: column;
}
ol{
  width: 100%;
  list-style: none;
}
ol li{
  display: block;
  width: 100%;
}
ol li a{
  color: #fdfdce;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  text-transform: capitalize;
}
ol li a i{
  width: 70px;
  font-size: 25px;
  text-align: center;
  padding-left: 30px;
}
ol li:hover a{
  background: #030303;
  color: #00eaff;
  letter-spacing: 5px;
}
#check-nav{
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
span {
  position: absolute;
  right: -36px;
  margin-left: 12px;
  top: 10px;
  font-size: 25px;
  border-radius: 3px;
  color: #fff;
  padding: 3px 8px;
  cursor: pointer;
  background: red;
}
#bars{
  background: #90ee90;
}
#check-nav:checked ~ .side-navbar #bars{
  display: none;
}
#check-nav:checked ~ .side-navbar {
  left: 0;
}
#check-nav:checked ~ .all-maps {
  margin-left: 250px;
}
.scrollbox{
  overflow: auto;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #c1c1c1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
/* SIDEBAR */

.search-bar-container {
  height: 80px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-field {
  background-color: #eaeaea;
  height: 100%;
  width: 78%;
  border: solid 1px var(--light-grey);
  outline: none;

  border-radius: 24px;

  padding: 0 12px;
}

.search-button {
  background: #7ee87e;
  width: 20%;
  outline: none;
  border: solid 1px var(--light-grey);
  border-radius: 32px;
}

.search-icon path {
  color: var(--white);
}


/* MAPS */
.all-maps {
  flex: 1;
  transition: margin-left 0.5s ease;
  margin-left: 0;
  grid-column: span 4;
  grid-row: span 5;
  grid-gap: 12px;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  margin-right: 2px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  overflow-y: auto;
}
.recent-maps{
  grid-row: span 1;
  padding-bottom: 40px;
  border-bottom: solid 2px var(--light-grey);
}

.all-available-maps{
  grid-row: 2 / span 4;
  padding-bottom: 140px;
  border-bottom: solid 2px var(--light-grey);
}

.new-case{
  background: none;
  border: 3px solid var(--light-green);
  border-radius: 12px;
  width: 25%;
  height: 25%;
  box-shadow: var(--glass-shadow);
}

.preview-meta-data {
  max-height: 100px;
  margin-top: 12px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 8px;
}

.map-description {
  font-size: .8em;
  font-weight: 200;
  color: var(--dark-grey);
  max-height: 100px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.all-the-maps {
  flex-wrap: wrap;
  gap: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.new-case {
  transition: transform 0.3s ease-in-out;
  width: 20vw;
  height: 18vw;
  margin-bottom: 48px;
}

.new-case:hover {
  transform: scale(1.05);
}
/*OTHER*/
.title{
  text-align: center;
  font-size: 3em;
}

.rounded-card {
  width: 100%;
  padding: 1.2rem ;
  border-radius: 1.2rem;
  margin: 20px auto;
}

.navigation-button-container{
  margin-top: 2rem;
}
.filter-title {
  background: transparent;
  padding: 0.5rem;
  border: 0.2rem solid #90ee90;
  border-radius: 1.2rem;
  max-width: 200px;
  margin: 2rem auto 2rem auto;

  text-align: center;
  color: black;
}
