<!--<button id="openBtn" (click)="openPopUp()" style="margin-top: 60px">Add a new map</button>-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<div class="navigation-page">

<input type="checkbox" name="" id="check">
<div class ="side-navbar">
  <label for="check">
    <span class ="fas fa-times" id="times"> </span>
    <span class ="fas fa-bars" id="bars"> </span>
  </label>
      <div class ="head">menu</div>
      <ol>
        <li><a href="#"><i class="fas fa-qrcode"></i>dashboard</a></li>
        <li><a href="#"><i class="fas fa-users"></i>dashboard</a></li>
      </ol>
  <button id="openBtn" (click)="openPopUp()" style="margin-top: 60px">Add a new map</button>
  </div>


  <div class="allMaps">
     <div class="recentMaps">
       <h3 class="titre">Risk card</h3>
       <div class="AllTheMaps">
         @for (map of listOfAllRecentMaps; track map.id){
           <div class="newCase" (click)="goToMap(map.id)">
             <h4 style="text-align: center">{{map.titre}}</h4>
             <h6 style="text-align: center">{{map.description}}</h6>
           </div>
         }
       </div>
     </div>


      <!-- ------------------------ -->
      <!-- Lines about all the maps -->
      <!-- ------------------------ -->
    <div class="allAvailableMaps">
      <h3 class="titre">Annoted card</h3>
      <div class="AllTheMaps">
        @for (map of listOfAllMaps; track map.id){
          <div class="newCase" (click)="goToMap(map.id)">
            <h4 style="text-align: center">{{map.titre}}</h4>
            <h6 style="text-align: center">{{map.description}}</h6>
          </div>
        }
      </div>
    </div>

  </div>
</div>


