<div class="main-container">
  <div class="title-container">
    <h1 class="profile-title"> Your profile </h1>
  </div>

  <div class="info-container">
    <img src="../../../../../assets/background/userIcon.png" class="user-icon" alt="icon">
    <div class="text-container">
      <h2 class="role">{{ user.role }}</h2>
      <p class="firstname-lastname">{{ user.firstName }}  {{ user.lastName }}</p>
    </div>
  </div>


  <div class="form-container">
    <div class="profile-section">

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.username }}</p>
              }@else if (isEditingField){
            <input  [(ngModel)]="user.username" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.firstName }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.firstName" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.lastName }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.lastName" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.email }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.email" />
          }
        </div>
      </div>

      @if (isEditingField){
    <div class="cancel-save-button">
      <div class="save-button">
        <button (click)="updateProfile()"> Save</button>
      </div>

      <div class="cancel-button">
        <button (click)="cancel()"> Cancel </button>
      </div>
    </div>
      }
      @else if(!isEditingField){
      <div class="edit-button">
        <button (click)="toggleEdit()"> Edit</button>
      </div>
      }
      @if (errorMessage) {
        <div class="alert alert-danger" style="margin-top: 20px;">
          {{ errorMessage }}
        </div>

      }

      @if (!showWindow){
      <button class="danger" (click)="openWindow()">
        Delete my account
      </button>
      }

      @if (showWindow) {
        <div class="deleteAccountWindow">
          <div class="window">
            <h3>Confirmation</h3>
            <p>Please type and validate your password to confirm</p>

          <div class="form">
            <input type="password" placeholder="Password" [(ngModel)]="userToDelete.password">
          </div>

            <div class="cancel-delete-button">
              <button (click)="closeWindow()">Cancel</button>
              <button class="delete" [disabled]="!userToDelete.password" (click)="delete()">Delete forever</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
