<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="profile-page">
  <div class="profile-title">
    <span class="text1">{{ 'profile.first-title' | transloco }}</span>
    <span class="text2">{{ 'profile.second-title' | transloco }}</span>
  </div>
    <div class="container">
      <div class="card">
        <div class="profile-picture">
        <img [src]=selectedAvatar alt="Person" class="card__image">
        <div class="menu-toggle" [class.active]="profilePictureUpdate" (click)="toggleMenu()"></div>

          <div class="avatar-list" [class.active]="profilePictureUpdate">
            <ul>
              <li style="--i:0s"><img src="assets/icons/avatar1.webp" class="avatar" (click)="selectAvatar('assets/icons/avatar1.webp')"></li>
              <li style="--i:0s"><img src="assets/icons/avatar2.webp" class="avatar" (click)="selectAvatar('assets/icons/avatar2.webp')"></li>
              <li style="--i:0s"><img src="assets/icons/avatar3.webp" class="avatar" (click)="selectAvatar('assets/icons/avatar3.webp')"></li>
              <li style="--i:0s"><img src="assets/icons/avatar4.webp" class="avatar" (click)="selectAvatar('assets/icons/avatar4.webp')"></li>
            </ul>
          </div>
        </div>
        <p class="card__name">{{user.username}}</p>
        <div class="grid-container">

          <app-inputbox
            [label]="'profile.username' | transloco"
            [(ngModel)]="user.username"
            [disabled]="!isEditingField">
          </app-inputbox>

          <app-inputbox
            [label]="'profile.firstname' | transloco"
            [(ngModel)]="user.firstName"
            [disabled]="!isEditingField">
          </app-inputbox>

          <app-inputbox
            [label]="'profile.lastname' | transloco"
            [(ngModel)]="user.lastName"
            [disabled]="!isEditingField">
          </app-inputbox>

          <app-inputbox
            [label]="'profile.email' | transloco"
            [(ngModel)]="user.email"
            [disabled]="!isEditingField">
          </app-inputbox>

          @if(isEditingField){
            <app-button
              [text]="'profile.change-button' | transloco"
              variant="success"
              (clicked)="updateProfile()">
            </app-button>

            <app-button
              [text]="'profile.cancel-button' | transloco"
              variant="danger"
              (clicked)="cancel()">
            </app-button>
          }
          @else if(!isEditingField){
            <app-button
              [text]="'profile.edit-button' | transloco"
              variant="success"
              (clicked)="toggleEdit()">
            </app-button>
          }
          @if (errorMessage) {
            <div class="alert alert-danger" style="margin-top: 20px;">
              {{ errorMessage }}
            </div>
          }
          @if (!showWindow){
            <app-button
              [text]="'profile.delete-button' | transloco"
              variant="danger"
              (clicked)="openWindow()">
            </app-button>
          }
          @if (showWindow) {
            <div class="deleteAccountWindow">
              <div class="window">
                <h3>{{ 'profile.account-first-title' | transloco }}</h3>
                <p>{{ 'profile.account-second-title' | transloco }}</p>

                <app-inputbox
                  [type]="'password'"
                  [placeholder]="'profile.password-input' | transloco"
                  [(ngModel)]="userToDelete.password"
                >
                </app-inputbox>

                <app-button
                  [text]="'profile.account-cancel-button' | transloco"
                  variant="success"
                  (clicked)="closeWindow()">
                </app-button>

                <app-button
                  [text]="'profile.delete-forever-button' | transloco"
                  variant="danger"
                  (clicked)="delete()"
                  [disabled]="!userToDelete.password">
                </app-button>
              </div>
            </div>
          }
        </div>
        <div class="change-password-link">
          <p>{{ 'profile.password-message' | transloco }}<a (click)="goToChangePassword()">{{ 'profile.password-button' | transloco }}</a></p>
        </div>

    </div>
</div>
</div>
