<nav class="navbar">
  <div class="left-navlinks-container">
    <a class="item" (click)="goToHome()">
      <img src="assets/icons/home_icon.svg" alt="house shaped icon">
    </a>
    <a class="item" (click)="goToNavigation()">
      <img src="assets/icons/map_icon.svg" alt="house shaped icon">
    </a>
    <!--<a class="item" (click)="goToProfile()">
      <img src="assets/icons/validation_icon.svg" alt="house shaped icon">
    </a>-->

    <a class="item" (click)="goToDepartmentsPage()">
      <img src="assets/icons/validation_icon.svg" alt="form icon">
    </a>

    <a class="item" (click)="goToSettingsPage()">
      <img src="assets/icons/settings_icon.svg" alt="settings icon">
    </a>
    <a class="item" (click)="logout()">Logout</a>
  </div>

  <div class="right-navlinks-container">
    <p>test</p>
  </div>
</nav>

