.main-container {
  display: flex;
  background-image: url("../../../assets/background/profileBackground.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}


.image{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; }

.form-container {
  justify-self: center;
  width: 150vw;
  height: 20vh;
  display: grid;
  margin-left: 10vw;
  grid-template-columns: 1fr 1fr;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-title{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  color: black;
  margin-top: 100px;
}

.info-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
  gap: 2rem;
}

.user-icon{
  width: 15vh;
}

.text-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.text-container p{
  color: black;
}

.form-container{
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.profile-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2rem;
}


.form-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form{
  width: 100%;
  height: 50%;
  background: white;
  margin: 30px 0;
  border-radius: 12px;
  border: black;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.form p{
  color: darkgray;
  margin: 0;
  padding: 0 1rem;
  line-height: 1;
}
.form input{
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  border-radius: 12px;
  border: black;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
}

button{
  width: 30%;
  height: 45px;
  background: #90ee90;
  border: solid 2px #7ee87e;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow .2s ease ;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button:hover{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: scale(1.01);
}

button:active{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transform: scale(.99);
}

