<div class = "bottom-sheet">
  <div class="navigation-button-container">
    @if(data.isAdmin){
      <div class="new-map-title">
        {{ 'navigation.add-map' | transloco }}
      </div>
      <button class="new-map-button" id="final-risk" (click)="data.openPopUp('addMap')">{{ 'navigation.final-risk' | transloco }}<i class="fas fa-plus" id="plus-icon" aria-hidden="true"></i></button>
      <button class="new-map-button" id="risk-factor" (click)="data.openPopUp('addRiskFactor')">{{ 'navigation.risk-factor' | transloco }}<i class="fas fa-plus" id="plus-icon2"></i></button>
    }
  </div>

</div>
