<div class = "bottom-sheet">
  <div class = "container">
    <img src="assets/icons/filter.png">
    <h1 class = "title">Filters</h1>
  </div>
    <div class ="filter-title">
      <div class="text">Diseases</div>
    </div>
    <ol>
      <app-checkbox
        [id]="'Ebola'"
        [label]="'Ebola'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Covid'"
        [label]="'Covid'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
    </ol>
    <div class ="filter-title">
      <div class="text">Annotations</div>
    </div>
    <ol>
      <app-checkbox
        [id]="'Annotated'"
        [label]="'Annotated'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Unannotated'"
        [label]="'Unannotated'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
    </ol>

    <div class ="filter-title">
      <div class="text">Risk factors</div>
    </div>
    <ol>
      <app-checkbox
        [id]="'Cattle'"
        [label]="'Cattle'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Rivers'"
        [label]="'Rivers'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
      <app-checkbox
        [id]="'Other'"
        [label]="'Other'"
        [name]="'souscription'">
      </app-checkbox>
    </ol>
</div>
