html, body {
  height: 100%;
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  height: 100vh;
  margin-top: 10px;
}

.div1 {
  grid-row: span 5;
  border: 2px solid black;
}

.div2 {
  grid-column: span 4;
  grid-row: span 2;
  border: 2px solid black;
}

.div3 {
  grid-column: 2 / span 4;
  grid-row: 3 / span 3;
  border: 2px solid black;
}

.titleOfCheckBox{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #F4D47A ;
  text-align: center;
}
