html, body {
  height: 100%;
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  height: 89vh;
  margin-top: 10px;
}

.div1 {
  grid-row: span 5;
  border: 2px solid black;
  margin-left: 1px ;
  position: relative;
}

.div2 {
  grid-column: span 4;
  grid-row: span 5;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  margin-right: 2px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  overflow-y: auto;


}

.div3{
  grid-row: span 1;
}

.div4{
  grid-row: 2 / span 4;
}

.titleOfCheckBox{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #F4D47A ;
  text-align: center;
}


.newCase{
  border: 1px solid black;
  margin: 2px ;
}
