<button id="openBtn" (click)="openPopUp()">Add a new map</button>


<div class="parent">

  <!-- -------------------------------------------------------------- -->
  <!-- Lines of filters concerning the visualisation of different map -->
  <!-- -------------------------------------------------------------- -->
  <div class="filters">
    <p style="text-align: center"><strong>Filters for geographical maps</strong></p>

    <form>
      <p class="titleOfCheckBox">what type(s) of illness</p>

      <input type="checkbox" id="Ebola" name="souscription" value="Ebola" checked>
      <label for="news">Ebola</label><br>

      <input type="checkbox" id="Covid" name="souscription" value="Covid" checked>
      <label for="promo">Covid</label><br>
    </form>

    <form>
      <p class="titleOfCheckBox">Annotations</p>

      <input type="checkbox" id="Annotated" name="souscription" value="Annotated" checked>
      <label for="news">Annotated</label><br>

      <input type="checkbox" id="Unannotated" name="souscription" value="Unannotated" checked>
      <label for="promo">Unannotated</label><br>
    </form>

    <form>
      <p class="titleOfCheckBox">Risk factor</p>

      <input type="checkbox" id="Cattle" name="souscription" value="Cattle" checked>
      <label for="news">Cattle</label><br>

      <input type="checkbox" id="Rivers" name="souscription" value="Rivers" checked>
      <label for="promo">Rivers</label><br>
    </form>
  </div>

  <div class="allMaps">
      <!-- ------------------------------------ -->
      <!-- Lines about the recent modified maps -->
      <!-- ------------------------------------ -->
     <div class="recentMaps">
       <h3>Recent maps modified</h3>
       <div class="AllTheMaps">
         @for (map of listOfAllRecentMaps; track map.id){
           <div class="newCase">
             <h4 style="text-align: center">{{map.titre}}</h4>
             <h6 style="text-align: center">{{map.description}}</h6>
           </div>
         }
       </div>
     </div>


      <!-- ------------------------ -->
      <!-- Lines about all the maps -->
      <!-- ------------------------ -->
    <div class="allAvailableMaps">
      <h3>All the available maps</h3>
      <div class="AllTheMaps">
        @for (map of listOfAllMaps; track map.id){
          <div class="newCase">
            <h4 style="text-align: center">{{map.titre}}</h4>
            <h6 style="text-align: center">{{map.description}}</h6>
          </div>
        }
      </div>
    </div>

  </div>

</div>
