<div class="login-page">

<div class="login">
  @if (showWindow) {
    <div class="cookie-popup">
      <div class="window" data-aos="zoom-in">
        <img src="assets/icons/planet_cookie.png">
        <h3>Cookies</h3>
        <div class="link">
          <p>{{ 'login.cookie-p' | transloco }}<a> Learn more</a></p>
        </div>

        <app-button
          [text]="'login.cookie-button' | transloco"
          variant="success"
          (clicked)="closeWindow()">
        </app-button>

      </div>
  </div>
  }
  <div class="title-container">
    <h1 class="login-title">{{ 'login.title' | transloco }}</h1>
    <p class="login-message">{{ 'login.message' | transloco }}</p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="login()">

    <app-inputbox
      [type]="'text'"
      [placeholder]="'login.username' | transloco"
      formControlName="username"
      [label]="'login.label-username' | transloco"
      [showError]="loginError()" >
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'login.password' | transloco"
      formControlName="password"
      [label]="'login.label-password' | transloco"
      [showError]="loginError()" >
    </app-inputbox>


    <div class="login-button-container">
      <app-button
        [text]="'login.login-button' | transloco"
        variant="success"
        [type]="'submit'">
      </app-button>
    </div>

    <div class="link">
      <p>{{ 'login.account-message' | transloco }}<a (click)="goToRegister()">{{ 'login.register' | transloco }}</a></p>
    </div>
    <app-error-success-message
      [errorMessages]="errorMessage"
      [showErrors]="loginError">
    </app-error-success-message>
  </form>

</div>
</div>
