.login-page{
  min-height: 100vh;
  background-image: url('/assets/background/loginBackgroundPlanet.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 22vh;
  padding-left: 5%;
}

.login{
  width: 40%;
  border-radius: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 1rem;
  color: black;
}

.login-message {
  color: black;
  font-weight: lighter;
}

.register-link{
  font-size:14.5px;
  text-align: center;
  margin-top: 20px;
}
.register-link p a{
  color: darkblue;
  text-decoration: none;
}
.register-link p {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

.register-link a {
  cursor: pointer;
  font-weight: 500;
}

.registerlink p a:hover{
  text-decoration: underline;
}


/* phone portrait */
@media (max-width: 768px) and (orientation: portrait){

  .login-page{
    background-image: url("/assets/background/phoneLoginBackgroundPlanet.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .login{
    width: 90%;
    padding-top: 10rem;
  }

}

/* Tablet portrait */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .login-page{
    background-image: url("/assets/background/tabletLoginBackgroundPlanet.png");
  }

  .login{
    width: 60%;
    padding-top: 70px;
  }
}


