<div class="main-container">
  <div class="title-container">
    <h1 class="profile-title"> Your profile </h1>
  </div>

  <div class="info-container">
    <img src="assets/background/userIcon.png" class="user-icon" alt="icon">
    <div class="text-container">
      <h2 class="role">{{ user.role }}</h2>
      <p class="firstname-lastname">{{ user.firstName }}  {{ user.lastName }}</p>
    </div>
  </div>



  <div class="form-container">
    <div class="profile-section">

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.username }}</p>
              }@else if (isEditingField){
            <input  [(ngModel)]="user.username" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.firstName }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.firstName" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.lastName }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.lastName" />
          }
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form">
          @if(!isEditingField){
            <p>{{ user.email }}</p>
              } @else if (isEditingField){
            <input  [(ngModel)]="user.email" />
          }
        </div>
      </div>

      @if (isEditingField){
      <div class="edit-button">
        <button (click)="updateProfile()"> Save</button>
      </div>

      <div class="cancel-button">
        <button (click)="toggleEdit()"> Cancel</button>
      </div>
      }
      @else if(!isEditingField){
      <div class="edit-button">
        <button (click)="toggleEdit()"> Edit</button>
      </div>
      }
      @if (errorMessage) {
        <div class="alert alert-danger" style="margin-top: 20px;">
          {{ errorMessage }}
        </div>

      }
    </div>
  </div>
</div>
