.main-container {
  display: flex;
  background-color: #EBEFFF;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}


.image{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; }

.form-container {
  position: absolute;
  top: 62%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 900px;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-title{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  color: black;
  margin-top: 100px;
}

.info-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
  gap: 2rem;
}

.user-icon{
  width: 15vh;
}

.text-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.text-container p{
  color: black;
}

.profile-section {
  display: grid;
}


.form-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form{
  width: 100%;
  height: 50%;
  background: white;
  margin: 30px 0;
  border-radius: 12px;
  border: solid 2px black;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.form p{
  color: darkgray;
  margin: 0;
  padding: 0 1rem;
  line-height: 1;
}
.form input{
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  border-radius: 12px;
  border: black;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
}

button{
  width: 30%;
  height: 45px;
  background: #90ee90;
  border: solid 2px black;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow .2s ease ;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button:hover{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: scale(1.01);
}

button:active{
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transform: scale(.99);
}

.deleteAccountWindow{
  position: absolute;
  width: 50%;
  border-radius: 10px;
  top: 23%;
  right: 120%;
  background-color: white;
  border: black
}
.danger{
  color: black;
  background-color: red;
  font-size: 0.9rem;
  display: block;
  margin: 1.5rem auto 0;
}
.edit-button{
  display: flex;
  justify-content: center;
}


.window h3{
  display: flex;
  justify-content: center;
}


.cancel-save-button {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}


.cancel-save-button button {
  flex: 1;
  min-width: 120px;
  height: 45px;
  font-size: 1rem;
}

.cancel-delete-button {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}
.cancel-delete-button button {
  flex: 1;
}

.delete{
  color-background: red;
  color: red;
}
