
<div class="admin-page">

</div>

<h1 class="admin-title"> Utilisateurs de Geohealth </h1>

@if (users.length ==0) {
    <div> Aucun utilisateur trouvé </div>
}

@if (users.length > 0) {
    <table>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Banned</th>
            <th>Deleted</th>
            <th>Ban</th>
        </tr>
      @for(user of users; track $index){
        <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.banned }}</td>
                <td>{{ user.deleted }}</td>
                <td>
                  <app-button
                    [text]="'Ban'"
                    variant="danger"
                    (clicked)="banUser(user.username)">
                  </app-button>
                </td>
        </tr>
      }

    </table>

}

