.pop-up{
  width: 50vh;
  height: 50vh;
  border: 2px solid black;
}

.enterDataOnNewMap{
  margin-left: 1%;
  margin-right: 1%;
}

.upload-btn {
  width: 6vw;
  height: 3vh;
  border-radius: 20%;
  background-color: #90ee90;
  color: black;

  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.file-input{
 display: none;
}
