/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /*Colors: */
  --blue : #007bff;
  --white: white;
  --black: black;
  --transparent-grey: rgba(210, 210, 210, 0.4);
  --super-light-grey: rgb(236, 236, 236);
  --light-grey: rgba(144, 144, 144, .3);
  --dark-grey: rgb(75, 75, 75);
  --dark-blue: #143A51;
  --darker-blue: #0c2e41;
  --light-green: #90ee90;
  --light-green2: #8FC378;
  --light-green3: #7ee87e ;
  --super-light-green: #E1FFE1FF;
  --orange: #FFC452;
  --red: #E44242;

  --glass-shadow: 0 4.2px 6.2px hsl(0deg 0% 0% / 0.2);
}

html, body{
  background-color: #EBEFFF;
}
*{
  font-family: 'Pacifico', sans-serif;
}
