<div class="registerPage">
  <img class="image" src="/assets/registerPagePlanet.png">
</div>

<div class="register">
  <h1 class="registerTitle"> Register </h1>

  <form action="" method="post" class="form">

    <div class="form_field">
      <input type="Fullname" placeholder="Full name">
    </div>

    <div class="form_field">
      <input type="Username" placeholder="Username">
    </div>

    <div class="form_field">
      <input type="Email" placeholder="info@mailaddress.com">
    </div>

    <div class="form_field">
      <input type="Password" placeholder="Password">
    </div>

    <div class="form_field">
      <input type="ConfirmPassword" placeholder="Confirm password">
    </div>


    <button type="submit" class="btn">Register</button>

    <div class="loginLink">
      <p>Already have an account ?  <a href="#"> Login </a></p>
    </div>

  </form>
</div>
