.register-page{
  min-height: 100vh;
  display: flex;
  justify-content: right;
  background-image: url('/assets/background/registerBackgroungPlanet.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
}
.register {
  width: 35%;
  border-radius: 10px;
  padding: 2rem;
  margin-right: 8%;
}
.registerTitle{
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
  color: black;
}
.loginLink{
  font-size:14.5px;
  text-align: center;
  margin-top: 20px;
}
.loginLink p a{
  color: darkblue;
  text-decoration: none;
}
.loginLink p {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.loginLink p a:hover{
  text-decoration: underline;
}

/* phone portrait */
@media (max-width: 768px) and (orientation: portrait){

  .register-page{
    background-image: url("/assets/background/phoneRegisterBackgroundPlanet.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register{
    width: 90%;
    margin: 0;
    margin-top: 20rem;
  }

}
/* phone landscape */
@media (max-width: 768px) and (orientation: landscape){


}

/* Tablet portrait */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

}

/* Tablet landscape */
@media (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {

}

