<div class="registerPage">
  <img class="image" src="/frontend/src/assets/background/registerBackgroungPlanet.png">
</div>

<div class="register">
  <h1 class="registerTitle"> Register </h1>

  <form [formGroup]="formGroup"
        (ngSubmit)="register()"
        class="form">

    <div class="form_field">
      <input type="Username" placeholder="Username" formControlName ="username">
    </div>
    @if(isFieldValid("username")){
      <div class="error">
        The username must be at least 1 character long.
      </div>
    }

    <div class="form_field">
      <input type="Firstname" placeholder="First name" formControlName ="firstName">
    </div>
    @if(isFieldValid("firstName")){
      <div class="error">
        The first name must be at least 1 character long.    </div>
    }

    <div class="form_field">
      <input type="Lastname" placeholder="Last name" formControlName ="lastName">
    </div>
    @if(isFieldValid("lastName")){
      <div class="error">
        The last name must be at least 1 character long.
      </div>
    }

    <div class="form_field">
      <input type="Email" placeholder="info@mailaddress.com" formControlName ="email">
    </div>
    @if(isFieldValid("email")){
      <div class="error">
        doesn't match
      </div>
    }

    <div class="form_field">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    @if(isFieldValid("password")){
      <div class="error">
        The password does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }

    <div class="form_field">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="confirmPassword"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </div>
    @if(isFieldValid("confirmPassword")){
      <div class="error">
        The confirmPassword does not contain at least 8 characters or does not match the required format. E.g. Toto#123.com
      </div>
    }


    <div class="register-button-container">
      <app-button
        [text]="'Register'"
        (clicked)="register()">
      </app-button>
    </div>

    <div class="loginLink">
      <p>Already have an account ? <a (click)="goToLogin()">Login</a></p>
    </div>

  </form>
</div>
