<div class="register-page">


<div class="register">
  <h1 class="registerTitle">{{ 'register.title' | transloco }}</h1>

  <form [formGroup]="formGroup"
        (ngSubmit)="register()"
        class="form">

  <div class="form-field">
    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.username' | transloco"
      formControlName="username"
      [label]="'register.label-username' | transloco"
      [message]="'At least 3 characters long.'"
      [showError]="nameLength('username')">
    </app-inputbox>


  </div>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.firstname' | transloco"
      formControlName="firstName"
      [label]="'register.label-firstname' | transloco"
      [message]="'At least 3 characters long.'"
      [showError]="nameLength('firstName')">
    </app-inputbox>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.lastname' | transloco"
      formControlName="lastName"
      [label]="'register.label-lastname' | transloco"
      [message]="'At least 3 characters long.'"
      [showError]="nameLength('lastName')">
    </app-inputbox>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'Email'"
      formControlName="email"
      [label]="'Email'"
      [message]="'Enter a valid email (e.g. name@example.com)'"
      [showError]="mailLength('email')">
    </app-inputbox>


    <app-inputbox
      [type]="'password'"
      [placeholder]="'register.password' | transloco"
      formControlName="password"
      [label]="'register.label-password' | transloco"
      [message]="'At least 8 characters long'"
      [showError]="passwordLength('password')">
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'register.confirm-password' | transloco"
      formControlName="confirmPassword"
      [label]="'register.label-confirm-password' | transloco"
      [message]="'Doesn\'t match'"
      [showError]="passwordsMatch()">
    </app-inputbox>


    <div class="register-button-container">
      <app-button
        [text]="'register.register-button' | transloco"
        variant="success">
      </app-button>
    </div>

    <div class="loginLink">
      <p>{{ 'register.account-message' | transloco }}<a (click)="goToLogin()">{{ 'register.login' | transloco }}</a></p>
    </div>

    <app-error-success-message
      [errorMessages]="errorMessage"
      [showErrors]="registerError">
    </app-error-success-message>

  </form>
</div>
</div>
