<div class="register-page">


<div class="register">
  @if (showWindow) {
    <div class="cookie-popup">
      <div class="window" data-aos="zoom-in">
        <img src="assets/icons/planet_cookie.webp">
        <h3>Cookies</h3>
        <div class="link">
          <p>{{ 'login.cookie-p' | transloco }}<a>{{ 'login.learn-more' | transloco }}</a></p>
        </div>
        <div class="popup-button">
        <app-button
          [text]="'login.cookie-button' | transloco"
          variant="success"
          (clicked)="closeWindow()">
        </app-button>
        </div>
      </div>
    </div>
  }
  <h1 class="registerTitle">{{ 'register.title' | transloco }}</h1>

  <form [formGroup]="formGroup"
        (ngSubmit)="register()"
        class="form">

  <div class="form-field">
    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.username' | transloco"
      formControlName="username"
      [label]="'register.label-username' | transloco"
      [message]="'register.error-username' | transloco"
      [showError]="nameLength('username')">
    </app-inputbox>


  </div>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.firstname' | transloco"
      formControlName="firstName"
      [label]="'register.label-firstname' | transloco"
      [message]="'register.error-firstname' | transloco"
      [showError]="nameLength('firstName')">
    </app-inputbox>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'register.lastname' | transloco"
      formControlName="lastName"
      [label]="'register.label-lastname' | transloco"
      [message]="'register.error-lastname' | transloco"
      [showError]="nameLength('lastName')">
    </app-inputbox>

    <app-inputbox
      [type]="'text'"
      [placeholder]="'Email'"
      formControlName="email"
      [label]="'Email'"
      [message]="'register.error-email' | transloco"
      [showError]="mailLength('email')">
    </app-inputbox>


    <app-inputbox
      [type]="'password'"
      [placeholder]="'register.password' | transloco"
      formControlName="password"
      [label]="'register.label-password' | transloco"
      [message]="'register.error-password' | transloco"
      [showError]="passwordLength('password')">
    </app-inputbox>

    <app-inputbox
      [type]="'password'"
      [placeholder]="'register.confirm-password' | transloco"
      formControlName="confirmPassword"
      [label]="'register.label-confirm-password' | transloco"
      [message]="'register.error-confirm-password' | transloco"
      [showError]="passwordsMatch()">
    </app-inputbox>


    <div class="register-button-container">
      <app-button
        [text]="'register.register-button' | transloco"
        variant="success">
      </app-button>
    </div>

    <div class="link">
      <p>{{ 'register.account-message' | transloco }}<a (click)="goToLogin()">{{ 'register.login' | transloco }}</a></p>
    </div>

    <app-error-success-message
      [errorMessages]="errorMessage"
      [showErrors]="registerError">
    </app-error-success-message>

  </form>
</div>
</div>
